
.headingCol {
  @apply text-xl
}

.userRow {
  @apply px-4 py-3 text-gray-900 bg-gray-200 first:rounded-tl-sm first:rounded-bl-sm last:rounded-tr-sm last:rounded-br-sm;
  @apply mb-2 capitalize text-center;
  @apply hover:bg-primary-100 cursor-pointer;
}

.userCell {
  @apply px-4 py-3 text-gray-900;
  @apply capitalize text-center;
}

/* sts -  support ticket system */
.stsContextMenu {
  --contexify-activeItem-bgColor: #438a42;
  /* --contexify-menu-bgColor: #f2e8e8;
  --contexify-separator-color: rgba(0,0,0,.2);
  --contexify-item-color: #333;
  --contexify-activeItem-color: #f3f2f2;  
  --contexify-rightSlot-color: #6f6e77;
  --contexify-activeRightSlot-color: #fff;
  --contexify-arrow-color: #6f6e77;
  --contexify-activeArrow-color: #fff; */
}